*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-color: rgb(17,12, 3);
}

/* ..................... NAVIGATION CSS ..................... */
nav{
    display: flex;
    position: absolute;
    top: 1rem;
    right: 4.5rem;
   
}
nav > .navMenu{
    display: flex;
}

nav > .navMenu > ul{
    display: flex;
      
}
.navMenu > ul > li{
    list-style: none !important;
    font-family: 'Adamina', serif;
    opacity: 0.8;
    margin-right: 1rem;
    color: white;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;  
}
nav > .navMenu > .navButton{
    
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 10px;
    color: #000000;
    background-color: #FFAC12;
    font-family: 'Adamina', serif;
    cursor: pointer;
}

#top{
     margin-top: 4.5rem;
     padding: 1rem 4rem;
     color:red;
     border-top: 1px solid rgba(236, 236, 236, 0.1) ;
}
/* ....................... TOP SECTION CSS ............................. */
#top > .topContainer{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top > .topContainer > .topLeftContainer, .topRightContainer{
    color: white;
    font-family: 'Actor', sans-serif;
   
}
#top > .topContainer > .topLeftContainer > h3, .topRightContainer > h3{
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#top > .topContainer > .topLeftContainer > p, .topRightContainer > p{
    font-size: 12px;
    opacity: 0.6;
}
#top > .topContainer > .topRightContainer > p{
    text-align: right;
}
/* ........................ PROPERTY SECTION CSS ................................ */
#property{
    background-color: #f5f5f5;
}
#property > .propertyContainer{
    display: flex;
    padding: 3rem 4rem;
    
}
#property > .propertyContainer > .propertyLeftContainer{
    flex:3;
    box-sizing: border-box;
}
.propertyTopImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.propertyTopImg > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
#property > .propertyContainer > .propertyRightContainer{
    flex: 2;
    box-sizing: border-box;
    display: flex;
   
}
.propertyOwnerCard{
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    font-family: 'Actor', sans-serif;
    margin-left: 1.5rem;
    background-color: #FFFFFF;
}
.propertyOwnerCard > .infoContainer{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
}
.propertyOwnerCard > .infoContainer > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: lightblue;
}
.propertyOwnerCard > .infoContainer > .propertyOwnerTitle{
    
    font-size: 14px;
}
.propertyOwnerCard > .infoContainer > .propertyOwnerTitle > a{
    text-decoration: none !important;
    color: #FFAC12;
    font-size: 12px;
}

.propertyOwnerCard > .inputContainer > input, textarea{
    font-family: 'Poppins', sans-serif;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin-top: 7px;
    
}
.propertyOwnerCard > .inputContainer > input{
    padding:  10px;
    font-weight: 500;
    width: 92%;
}
.propertyOwnerCard > .inputContainer > textarea{
    padding: 10px;
    width: 92%;
    
}
.propertyOwnerCard > .inputContainer > .propertyOwnerButton{
    width: 100%;
    margin-top: 10px;
    padding: 20px;
    border: none;
    border-top-right-radius: 10px;
    background-color: #000000;
    color: white;
    font-family: 'Adamina', serif;
    cursor: pointer;
}