*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background: linear-gradient(135deg, #010101 60%,#FFAC12);
}

/* ..................... NAVIGATION CSS ..................... */
nav{
    display: flex;
    position: absolute;
    top: 1rem;
    right: 4.5rem;
   
}
nav > .navMenu{
    display: flex;
}

nav > .navMenu > ul{
    display: flex;
      
}
.navMenu > ul > li{
    list-style: none !important;
    font-family: 'Adamina', serif;
    opacity: 0.8;
    margin-right: 1rem;
    color: white;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;  
}
.propertyButton{
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 10px;
    color: #000000;
    background-color: #FFAC12;
    font-family: 'Adamina', serif;
    cursor: pointer;
}
.propertyButton > .fas{
    margin-left: 10px;
    color:#FFFFFF;
}

#top{
     margin-top: 4.5rem;
     padding: 1rem 4rem;
     border-top: 1px solid rgba(236, 236, 236, 0.2) ;
}
/* ....................... TOP SECTION CSS ............................. */
#top > .topContainer{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#top > .topContainer > .topLeftContainer, .topRightContainer{
    color: white;
    font-family: 'Actor', sans-serif;
   
}
#top > .topContainer > .topLeftContainer > h3, .topRightContainer > h3{
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
#top > .topContainer > .topLeftContainer > p, .topRightContainer > p{
    font-size: 12px;
    opacity: 0.6;
}
#top > .topContainer > .topRightContainer > p{
    text-align: right;
}
/* ........................ PROPERTY SECTION CSS ................................ */
#property{
    background-color: #f5f5f5;
}
#property > .propertyContainer{
    display: flex;
    padding: 3rem 4rem;
    
}
#property > .propertyContainer > .propertyLeftContainer{
    flex:3;
    box-sizing: border-box;
}
.propertyTopImg{
    display: flex;
    align-items: center;
    justify-content: center;
}
.propertyTopImg > img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
#property > .propertyContainer > .propertyRightContainer{
    flex: 2;
    box-sizing: border-box;
    display: flex;
   
}
.propertyOwnerCard{
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 55vh;
    font-family: 'Actor', sans-serif;
    margin-left: 1.5rem;
    background-color: #FFFFFF;
}
.propertyOwnerCard > .infoContainer{
    display: flex;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 10px;
}
.propertyOwnerCard > .infoContainer > img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: lightblue;
}
.propertyOwnerCard > .infoContainer > .propertyOwnerTitle{
    
    font-size: 14px;
}
.propertyOwnerCard > .infoContainer > .propertyOwnerTitle > a{
    text-decoration: none !important;
    color: #FFAC12;
    font-size: 12px;
}

.propertyOwnerCard > .inputContainer > input, textarea{
    font-family: 'Poppins', sans-serif;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin-top: 7px;
    
}
.propertyOwnerCard > .inputContainer > input{
    padding:  10px;
    font-weight: 500;
    width: 92%;
}
.propertyOwnerCard > .inputContainer > textarea{
    padding: 10px;
    width: 92%;
    
}
.propertyOwnerCard > .inputContainer > .propertyOwnerButton{
    width: 100%;
    margin-top: 10px;
    padding: 15px 20px;
    border: none;
    border-top-right-radius: 10px;
    background-color: #000000;
    color: white;
    font-family: 'Adamina', serif;
    cursor: pointer;
}
.propertyOwnerCard > .inputContainer > .propertyOwnerButton > .fas{
    color: #FFAC12;
    margin-left: 10px;
}
.propertyDeco{
    margin-top: 1rem;
}
.propertyDeco > img{
    width: 13.5%;
}
.propertyDetail, .propertyDescription, .propertyFeatures{
    margin-top: 2rem;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;  
    border-top-right-radius: 20px;  
}
.propertyDetail > h4, .propertyDescription > h4, .propertyFeatures > h4{
    font-family: 'Adamina', serif;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 20px;
}
.propertyDetail > .detailIconsContainer{
    display: flex;
    justify-content: space-around;
    background-color: #E9E9E9;
}
.propertyDetail > .detailIconsContainer > .detailIcons{
    width: 100%;
    height: 58px;
    background-color: #FFFFFF;
    border: 1px solid rgba(236, 236, 236, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.propertyDetail > .detailIconsContainer > .detailIcons > .fas{
    margin: 5px;
}
.detailIcons:first-child{
    border-bottom-left-radius: 20px;
}
.detailIcons:last-child{
    border-bottom-right-radius: 20px;
}

.propertyDescription > .desContainer{
    background-color: #E9E9E9;
}
.propertyDescription > .desContainer > .desWrapper{
    background-color: #FFFFFF;
    padding: 20px;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    
}
.propertyDescription > .desContainer > .desWrapper > p{
    font-family: 'Actor', sans-serif;
    opacity: 0.6;
}
.propertyDescription > .desContainer > .desWrapper > p:first-child{
    margin-bottom: 10px;
}
.propertyDescription > .desContainer > .desWrapper > p:last-child{
    margin-top: 10px;
}
.propertyFeatures > .featuresContainer{
    background-color: #E9E9E9;
}
.propertyFeatures > .featuresContainer > table{
    background-color: #FFFFFF;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
}
.propertyFeatures > .featuresContainer > table, td{
    padding: 10px 10px 10px 0;;
    border: none;
    border-collapse: collapse;
}
.propertyFeatures > .featuresContainer > table{
    width: 100%;
    font-family: 'Actor', sans-serif;
}
.featureIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    opacity: 0.9;
    cursor: pointer;
}
.featureIcon > .fas{
    background-color: #FFAC12;
    border-radius: 50%;
    color: #FFFFFF;
    margin-right: 5px;
}
/* ...................................... SIMILAR LISTINGS SECTION ................................. */
#similar{
    background-color: #F5F5F7;
    padding: 4rem;
}
#similar > h1{
    font-family: 'Actor', serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 7rem;
}
.similarContainer{
    display: flex;
    overflow: hidden;
}

.listingsCard{
    width: 25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 10px;
}
.listingsImgContainer > img{
    max-width: 100%;
    max-height: 30vh;
    object-fit: cover;
    box-sizing: border-box;
}
.listingsInfoContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.listingsInfoContainer > h3{
    font-family: 'Adamina', serif;
    font-weight: 500;
    padding: 10px 20px;
}
.listingsInfoContainer > span{
    background-color: #E9E9E9;
}
.listingsIconsContainer{
    display: flex;
    justify-content: space-around;  
}
.listingsIcon{
   width: 100%;
   height: 50px;
   background-color: white;
   border: 1px solid lightgray;
   display: flex;
   align-items: center;
   justify-content: center;
}
.listingsIcon:first-child{
    border-bottom-left-radius: 20px;
    border-right: none;
}
.listingsIcon:last-child{
    border-bottom-right-radius: 20px;
    border-left: none;
}


/* ................................... Footer Section CSS ............................................... */
#footerSection{
    height: 30vh;
    padding: 4rem 6rem;
    background: linear-gradient(145deg, #010101 60%,#FFAC12);
    color: white;
    
}
#footerSection > .footerContainer{
    display: flex;
    flex-direction: column;
}
#footerSection > .footerContainer > .footerTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
#footerSection > .footerContainer > .footerTitle >.propertyButton{
    position: absolute;
    top: 0;
    right: 0;
}

#footerSection > .footerContainer > .footerTitle > h2{
    font-family: 'Actor', sans-serif;
    font-weight: 300;
    margin-bottom: 3rem;
}
#footerSection > .footerContainer > .footerTitle > h2 > span{
    color: #FFAC12;
    margin-left: 1.5rem;
}
#footerSection > .footerContainer > .linksContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socialContainer{
    flex:1;
    display:flex;
    align-items: center;
   
}
.socialContainer > .fab{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.linksContainer{
    flex:2;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    font-family: 'Actor', sans-serif;
}
.linksContainer > .links{
    width: 100%;
}
.linksContainer > .links > h4{
    font-size: 12px;
    opacity: 0.6;
    padding: 10px 0;
}
.linksContainer > .links > p{
    padding: 5px 0;
    opacity: 0.4;
    font-size: 12px;
}
