*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;  
}
/*........................ Navigation CSS ..........................  */
nav{
    display: flex;
    position: absolute;
    top: 4rem;
    right: 5rem;
}

nav > .navMenu > ul{
    display: flex;
      
}
.navMenu > ul > li{
    list-style: none !important;
    font-family: 'Adamina', serif;
    font-weight: 100;
    margin-right: 1rem;
    padding: 5px;
    cursor: pointer;
    color: white;
    
}
.navMenu > ul > li > a{
    text-decoration: inherit;
    color: inherit;
    
}
.navMenu > ul > li > a > button {
    padding: 5px;
    font-family: 'Adamina', serif;
    font-weight: 700;
    border: none;
    
    
}
.navFirstButton {
    background-color: #FAFF00;
    color: black;
    /* font-weight: 900; */
    
}
.navLastButton {
    color: #FAFF00;
    background-color: black;

    
}




/* ........................... Header Section CSS ........................... */
#headSection{
    background-image: url("../img/moving\ 1.png");
    height: 100vh;
    background-size: cover;
    background-position: cover cover;
    display: flex;
    align-items: center;
    
}
#headSection > .headerInfo{
    color: white;
    width: 60%;
    padding: 80px;
    box-sizing: border-box;
    
}
#headSection > .headerInfo > h1{
    font-family: 'Adamina', serif;
    font-size: 3rem;
    font-weight: 500;
    color: #FAFF00;
    margin-bottom: 2rem;
}
#headSection > .headerInfo > h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
/* ...................................... About Section CSS ............................. */
#aboutSection{
    margin: 2rem 0;   
}
#aboutSection > .aboutContainer{
    display: flex;
    height: 70vh;
}
#aboutSection > .aboutContainer > .aboutImgContainer{
    flex: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-right:10px ;
    overflow: hidden;
}
#aboutSection > .aboutContainer > .aboutImgContainer > img{
    max-width:100%;
    max-height:100%;
    
}
#aboutSection > .aboutContainer > .aboutInfoContainer{
    flex: 1;
    box-sizing: border-box; 
    padding: 80px 0 0 30px;
}
#aboutSection > .aboutContainer > .aboutInfoContainer > hr, #topMovers > hr{
    width: 20%;
    border: 2px solid transparent;
    border-image: linear-gradient(45deg, #FFAC12, #010101);
    border-image-slice: 1;
    margin-bottom: 2rem ;
}
#aboutSection > .aboutContainer > .aboutInfoContainer > h2, p{
    width: 60%;
}
#aboutSection > .aboutContainer > .aboutInfoContainer >  h2{
    font-family: 'Adamina', serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
#aboutSection > .aboutContainer > .aboutInfoContainer > p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
}
#aboutSection > .aboutContainer > .aboutInfoContainer > button{
    margin-top: 3.5rem;
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 5px;
    background-color: #000000;
    color: #E6EB00;
    font-family: 'Adamina', serif;
    cursor: pointer;
}

/* ............................... Top Movers Section CSS ...................................... */
#topMovers{
    background-color: #F5F5F7;
    padding: 5rem;
}
#topMovers > h1{
    font-family: 'Adamina', serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 7rem;
}
.moversContainer{
    display: flex;
    flex-wrap: wrap;
}

.moversCard{
    width: 260px;
    height: 60vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 10px;
}
.moversImgContainer > img{
    max-width: 100%;
    object-fit: cover;
}
.moversInfoContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.moversInfoContainer > h2{
    font-family: 'Adamina', serif;
    font-weight: 500;
    padding: 10px 20px;
}
.moversInfoContainer > span{
    background-color: #E9E9E9;
}
.moversIconsContainer{
    display: flex;
    justify-content: space-around;  
}

.moversIcon{
    width: 100%;
    height: 50px;
    background-color: #FFFFFF;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.moversIcon > .fas{
    margin: 5px;
}
.moversIcon:first-child{
    border-bottom-left-radius: 20px;
    border-right: none;
}
.moversIcon:last-child{
    border-bottom-right-radius: 20px;
    border-left: none;
}

/* ................................... Footer Section CSS ............................................... */
#footerSection{
    height: 30vh;
    padding: 4rem 6rem;
    background-color: #050505;
    border-image: linear-gradient(45deg, #010101,#FFAC12);
    border-image-slice: 1;
    color: white;
}
#footerSection > .footerContainer{
    display: flex;
    flex-direction: column;
}
#footerSection > .footerContainer >h2{
    font-family: 'Actor', sans-serif;
    font-weight: 300;
    margin-bottom: 3rem;
}
#footerSection > .footerContainer >h2 > span{
    color: #FFAC12;
}
#footerSection > .footerContainer > .linksContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socialContainer{
    flex:1;
    display:flex;
    align-items: center;
   
}
.socialContainer > .fab{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.linksContainer{
    flex:2;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    font-family: 'Actor', sans-serif;
}
.linksContainer > .links{
    width: 100%;
}
.linksContainer > .links > h4{
    font-size: 12px;
    opacity: 0.6;
    padding: 10px 0;
}
.linksContainer > .links > p{
    padding: 5px 0;
    opacity: 0.4;
    font-size: 12px;
}

/* ....................... MEDIA QUERY ....................... */
@media only screen and (max-width: 480px){
  nav{
      width: 100%;
      top:1rem;
      bottom: 0;
      left:5px;
      right: 5px;
      margin: auto;
  }
  .navMenu > ul > li{
    font-size: 15px;
    margin-right: 5px;
    padding: 0;
  }
 
  #headSection{
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
  }
  #headSection > .headerInfo{
      width: 100%;
      text-align: center;
      padding: 5px;
  }
  #headSection > .headerInfo > h1{
       margin-top: 2.7rem;
      font-size: 2rem; 
  }
  #aboutSection{
    margin: 1rem 0;   
}
#aboutSection > .aboutContainer{
    display: flex;
    flex-direction: column;
   
}
#aboutSection > .aboutContainer > .aboutImgContainer{
    flex: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    
}
#aboutSection > .aboutContainer > .aboutImgContainer > img{
    min-width:300px;
    min-height: 60vh;
    
}
#aboutSection > .aboutContainer > .aboutInfoContainer{
    flex: 1;
    width: 100%;
    box-sizing: border-box; 
    padding: 10px;
    text-align: center;
}
#aboutSection > .aboutContainer > .aboutInfoContainer > hr, #topMovers > hr{
    display: none;
}
#aboutSection > .aboutContainer > .aboutInfoContainer > h2, p{
    width: 100%;
    
}
#topMovers{
  
    padding: 1rem;
}
#topMovers > h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.moversContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.moversCard{
    width: 260px;
    height: 50vh;
    overflow:auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 1rem;
}
#footerSection{
    padding: 10px;
    
}
#footerSection > .footerContainer >h2{
    text-align: center;
    margin-bottom: 1rem;
}
#footerSection > .footerContainer > .linksContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.linksContainer{
    flex:2;
    display: flex;
    justify-content: column;
    box-sizing: border-box;
    font-family: 'Actor', sans-serif;
}

.linksContainer > .links{
    padding: 10px;
}










}



