*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;  
}
/*........................ Navigation CSS ..........................  */
nav{
    display: flex;
    position: absolute;
    top: 4rem;
    right: 5rem;
}

nav > .navMenu > ul{
    display: flex;
      
}
.navMenu > ul > li{
    list-style: none !important;
    font-family: 'Adamina', serif;
    font-weight: 100;
    color: white;
    margin-right: 1rem;
    padding: 5px;
    cursor: pointer;
    
}
/* ........................... Header Section CSS ........................... */
#headSection{
    background-image: url("../img/moving\ 1.png");
    height: 100vh;
    background-size: cover;
    background-position: cover cover;
    display: flex;
    align-items: center;
    
}
#headSection > .headerInfo{
    color: white;
    width: 60%;
    padding: 80px;
    box-sizing: border-box;
    
}
#headSection > .headerInfo > h1{
    font-family: 'Adamina', serif;
    font-size: 2.5rem;
    font-weight: 500;
    color: #FAFF00;
    margin-bottom: 2rem;
}
#headSection > .headerInfo > h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
/* ...................................... About Section CSS ............................. */
#aboutSection{
    margin: 2rem 0;   
}
#aboutSection > .aboutContainer{
    display: flex;
    height: 70vh;
}
#aboutSection > .aboutContainer > .aboutImgContainer{
    flex: 1;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-right:10px ;
    overflow: hidden;
}
#aboutSection > .aboutContainer > .aboutImgContainer > img{
    max-width:100%;
    max-height:100%;
    
}
#aboutSection > .aboutContainer > .aboutInfoContainer{
    flex: 1;
    box-sizing: border-box; 
    padding: 80px 0 0 30px;
}
#aboutSection > .aboutContainer > .aboutInfoContainer > h2, p{
    width: 60%;
}
#aboutSection > .aboutContainer > .aboutInfoContainer >  h2{
    font-family: 'Adamina', serif;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
#aboutSection > .aboutContainer > .aboutInfoContainer > p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
}
#aboutSection > .aboutContainer > .aboutInfoContainer > button{
    margin-top: 3.5rem;
    padding: 10px 20px;
    border: none;
    border-top-right-radius: 5px;
    background-color: #000000;
    color: #E6EB00;
    font-family: 'Adamina', serif;
    cursor: pointer;
}

/* ............................... Top Movers Section CSS ...................................... */
#topMovers{
    background-color: #F5F5F7;
    padding: 5rem;
}
#topMovers > h1{
    font-family: 'Adamina', serif;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 7rem;
}
.moversContainer{
    display: flex;
    flex-wrap: wrap;
}

.moversCard{
    width: 260px;
    height: 60vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 10px;
}
.moversImgContainer > img{
    max-width: 100%;
    object-fit: cover;
}
.moversInfoContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    
}
.moversInfoContainer > h2{
    font-family: 'Adamina', serif;
    font-weight: 500;
    padding: 10px 20px;
}
.moversInfoContainer > span{
    background-color: #E9E9E9;
}
.moversIconsContainer{
    display: flex;
    justify-content: space-around;  
}
.moversIcon{
   width: 100px;
   height: 50px;
   background-color: white;
   border: 1px solid lightgray;
   display: flex;
   align-items: center;
   justify-content: center;
}
.moversIcon:first-child{
    border-bottom-left-radius: 20px;
    border-right: none;
}
.moversIcon:last-child{
    border-bottom-right-radius: 20px;
    border-left: none;
}

/* ................................... Footer Section CSS ............................................... */
#footerSection{
    height: 30vh;
    padding: 4rem 6rem;
    background-color: #050505;
    color: white;
}
#footerSection > .footerContainer{
    display: flex;
    flex-direction: column;
}
#footerSection > .footerContainer >h2{
    font-family: 'Actor', sans-serif;
    font-weight: 300;
    margin-bottom: 3rem;
}
#footerSection > .footerContainer >h2 > span{
    color: #FFAC12;
}
#footerSection > .footerContainer > .linksContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socialContainer{
    flex:1;
    display:flex;
    align-items: center;
   
}
.socialContainer > .fab{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.links{
    flex:2;
    box-sizing: border-box;
}
table, td, th{
    padding: 5px;
    border: none;
    border-collapse: collapse;
}
table{
    width: 100%;
    font-family: 'Actor', sans-serif;
}
th{
    opacity: 0.6;
    font-size: 12px;
}

td{
    opacity: 0.4;
    font-size: 10px;
}
